<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <h3 class="panel-heading">Offer</h3>
        <div class="panel-body">
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th>Currency Type</th>
                  <th>Offer Amount</th>
                  <th>Current Price</th>
                  <th>Sell Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>BTC</td>
                  <td>0.00147</td>
                  <td>1000</td>
                  <td>900</td>
                  <td class="button">
                    <div class="text-right">
                      <button class="btn btn-outline-primary" (click)="openVerticallyCentered(content)">Take Offer</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>ETH</td>
                  <td>.5000</td>
                  <td>12000</td>
                  <td>10000</td>
                  <td class="button">
                    <div class="text-right">
                      <button class="btn btn-outline-primary" (click)="openVerticallyCentered(content)">Take Offer</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>LTC</td>
                  <td>5</td>
                  <td>1100</td>
                  <td>1050</td>
                  <td class="button">
                    <div class="text-right">
                      <button class="btn btn-outline-primary" (click)="openVerticallyCentered(content)">Take Offer</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
